.card {
    width: 330px;

    border-radius: 20px;
    background: #FFF;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);

    padding: 17px 17px 17px 17px;
    color: #000;

    overflow: hidden;
    font-weight: 700;

    margin: 10px;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    width: 317px;
    height: 293px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
}

.card-name-container {
    font-size: 20px;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.card-price-container {
    font-size: 22px;
    display: flex;
}

.card-descripcion-name {
    font-size: 13px;
    padding-bottom: 4px;
}

.card-descripcion {
    font-size: 13px;
    line-height: normal;
}

.card-button {
    width: 30px;
    height: 30px;
    padding: 2px 2px 2px 2px;
    border-radius: 6px;
    background: #EFEFEF;

}

.card-content-flex {
    display: flex;
    align-items: center;

}

.card-container-buttons {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.card-button {
    margin-right: 8px;

}

.edit-button {
    cursor: pointer;

}

.delete-button {
    cursor: pointer;
}

.card-button svg {
    margin: 0 auto;
    transform: scale(1.4);
}