.card {
    width: 330px;

    border-radius: 20px;
    background: #FFF;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);

    padding: 17px 17px 17px 17px;
    color: #000;

    overflow: hidden;
    font-weight: 700;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    width: 317px;
    height: 293px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
}

.card-name-container {
    font-size: 20px;
}

.card-price {
    font-size: 22px;
    display: flex;
}

.card-descripcion-name {
    font-size: 13px;
}

.card-descripcion {
    font-size: 13px;
    line-height: normal;
}

.card-button {
    width: 25px;
    height: 25px;
    padding: 2px 2px 2px 2px;
    border-radius: 6px;
    background: #EFEFEF;
}